/* CSS -> (cc) 3con14
-------------------------------------------------
footer_down
------------------------------------------------- */

body {
  background-color: rgb(255 127 80 / .5);
  padding: 1rem;
  margin: 1rem;
}