/* CSS -> (cc) 3con14
Galeria Column
-------------------------------------------------
  Galeria de imágenes con distinto tamaño formando
  collage (= masonry layout) tipo Pinterest
------------------------------------------------- */
:root {
  --dim: 100px
}
body {
  min-height       : 100vh;
  background-color : #333;
  color            : #fff;
  margin           : 1rem;
}

.galeria {
  margin: 1vw;
  columns : 5 320px;
  gap     : 1rem;
}

.item {
  max-width: 100%;
  margin-bottom: 1rem;
  opacity: 0.5;

  outline: 2px solid #000;
  outline-offset: -10px;


  transition: all 500ms ease;
  /* quita margen fantasma */
  display: block;
}
.item:hover {
  cursor: pointer;
  opacity: 1;
  border-radius: 8px;
  outline: 2px solid #fff;
}
