:root { --separa: 4px; }
* {
  box-sizing: border-box;
  transition: all 0.3s;
}
html { font : 16px sans-serif; }
body {
  min-height : 100vh;
  background : steelblue;
  overflow   : hidden;
}
h2 { text-align: center; margin: 2em; }

.galeria {
  max-width       : 100%;
  line-height     : 0;
  padding-right   : 0;
  display         : flex;
  flex-wrap       : wrap;
  justify-content : space-evenly;
  gap             : 2vmin
}
.item { max-width: 40vmin; }
.item img {
  max-width : 100%;
  height    : auto;
  opacity   : 0.5;
  outline   : 3px solid #fff;
}
.item img:hover {
  opacity : 1;
  cursor  : pointer;
}
.modal { display: none; }

.modal:target {
  display          : block;
  position         : fixed;
  top              : 0;
  left             : 0;
  width            : 100vw;
  height           : 100%;
  display          : flex;
  background-color : rgba(0,0,0,0.6);
}
.imagen {
  margin          : auto;
  width           : 100%;
  display         : flex;
  justify-content : center;
  align-items     : center;
}
.imagen a { margin: 0 4px; }
.imagen img {
  max-width : 100%;
  width     : 80vw;
  height    : auto;
  border    : 8px solid #fff;
  animation : zoom 0.5s ease-in-out;
  position  : relative;
}
@keyframes zoom {
  0%   { opacity: 0.2; transform: scale(0.25); }
  100% { opacity: 1; transform: scale(1);}
}

.imagen a:nth-child(2)::after {
  content       : "x";
  position      : absolute;
  top           : 1vh;
  left          : 1vw;
  width         : 40px;
  height        : 40px;
  line-height   : 40px;
  text-align    : center;
  font-size     : 2rem;
  border-radius : 50%;
  background    : rgba(255, 255, 255, 0.5);
  color         : rgba(0, 0, 0, 0.75);;
}
/* .imagen a:nth-child(2):hover::after {
  border        : 2px solid hsla(0, 0%, 100%, 0.6);
} */
.imagen a:nth-child(2) {
  margin : 0;
  height : 100%;
}
.ant,.sig {
  width  : 0px;
  height : 0px;
  border : 20px solid transparent;
}
.ant { border-right: 25px solid rgba(255, 255, 255, 0.8); }
.sig { border-left: 25px solid rgba(255, 255, 255, 0.8);  }

.ant:hover { border-right: 25px solid hsla(0, 100%, 50%, 0.8); }
.sig:hover { border-left: 25px solid hsla(0, 100%, 50%, 0.8);  }